*{
	font-family: 'didot';
}

body{
	text-align: center;
	/*background-color: whitesmoke;*/
	padding-top: 0px;
	text-align: center;

}


form{
	display: inline-block;
	margin-left: ;
	margin-top: 20px;
}

.input-md{
	border-radius: 10px;
	font-size:
}


.input-sm{
	height: 20px;
	width: 100px;
}

.btn{
	line-height: 5px;
	background-color: silver;
	border: transparent;
	align-self: right;
	position: absolute;

}

table, th, td{
	text-align: left; 
	margin: auto;
	padding-top: 20px;
	font-weight: bold;
	/*font-size: 1.1em;*/


}
	td{
		font-size: 1.3em;
	}


#container{
	display: block;
	
	margin: 0 auto;
		

}
.homepage{

	opacity: .9;
	display: block;
	margin: 0 auto;
}

.here{

	/*display: block;*/
	background: rgba(245, 245, 245, .7);
	/*border-bottom: 3px solid black;*/
	/*margin-left: 350px;*/
	
	position: fixed;
	margin-top: -800px;
	border: 7px solid black;
	margin-left: 500px;
	border-radius: 10px;
	width: 30%;
	padding-bottom: 20px;
	

}

.registrationheader h1{

	position: fixed;
	/*display: block;*/
	margin-top: -875px;
	font-size: 3em;
	font-weight: bolder;
	
	/*background: rgba(245, 245, 245, .5);*/
	/*border-top: 3px solid black;*/
	
	width: 100%;
	/*margin-left: 350px;*/
	padding-bottom: 20px;
	opacity: .9;

}


.btn{
	line-height: 15px; 
	border-color: blue;
	background-color: silver;
	margin-left: 125px;
	
}

ul{
	margin-top: 25px;
	list-style: none;
}

li{
	font-weight: bolder;
}

