<!DOCTYPE html>
<html>
<head>
	<title>admin</title>
</head>
<body>
	<h3> This is the admin page </h3>
	<form action ="{% url 'my_admin_form' %}" enctype="multipart/form-data" method = 'POST'>
	{% csrf_token %}
		<p> Title: <input type='text' name='location'></p>
		<p> Season: </p>
		<select name = 'season'>
			<option value ='fall'>Fall</option>
			<option value='winter'>Winter</option>
			<option value='spring'>Spring</option>
			<option value='summer'>Summer</option>
			<option value='any'>Any</option>
		</select>

		<p> Activites: </p>
		<input type="checkbox" name='activity' value="hiking">Hiking
		<input type="checkbox" name='activity' value="swimming">swimming
		<input type="checkbox" name='activity' value="skiing">skiing
		<input type="checkbox" name='activity' value="museums">museums
		<input type="checkbox" name='activity' value="eating">eating
		<input type="checkbox" name='activity' value="beach">Beach
		<input type="checkbox" name='activity' value="climbing">climbing
		<input type="checkbox" name='activity' value="family">family
		<input type="checkbox" name='activity' value="shopping">shopping
		<input type="checkbox" name='activity' value="sight-seeing">sight-seeing
		<input type="checkbox" name='activity' value="any">any
		<p> Upload Picture:  

		<input type="file" name="img" ></p>


		<p> <input type='submit' value='submit'></p>
	</form>
	
	<table>
		<tr>
			<th> Location </th>
			<th> Season </th>
			<th> Activites </th>
			<th> Action </th>
		</tr>
		{% for item in place %}
		<tr>
			<td><p> {{ item.location }}</p></td>
			<td><p>{% for season in item.season.all %} {{season.name}} {% endfor %}</p></td>
			<td><p> {% for item in item.activities.all %} {{item.name}} {% endfor %}</p></td>
			<td> <a href = "{% url 'my_admin_delete' item.id %}">Delete </a></td>	
		</tr>
		{% endfor %}
	</table>
		
		
		
		
	
	
		

</body>
</html>