<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Traveler!</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'travelAppCSS/bootstrap.css' %}" media="screen" title="no title"  charset="utf-8">
	<link rel="stylesheet" href="{% static 'travelAppCSS/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>

	<div id = 'container'>
		<div class ='logotop'>
			<img src="{% static 'travelAppIMG/logo.png' %}" width="150" height="150">
			
		</div>

		<div id='content'>
		</div>
		<div class = 'loginform'>
			<div class= 'here valign-wrapper'>
				<h1>Welcome!</h1>
				<form action="{% url 'my_travel_login' %}" method = 'POST'>
					{% csrf_token %}
					<table>
						<tr>

							<td><input class="form-control input-lg" type="text" name="username" placeholder="Username"></td>
						</tr>
						<tr>

							<td><input class="form-control input-lg" type="password" name="password" placeholder="Password"></td>

						</tr>

						<tr>
							<td>Not a user? <a class = 'nonuser' href="{% url 'my_travel_register' %}">Sign Up Here!</a></td>
						</tr>
		
					</table>
			</div>
		</div>
				<div class='login'>
					<input class = 'btn btn-primary homebtn' type="submit" name="enter" value="Log In"></td>
				</div>
				</form>
		{% if messages %}
		<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }} </li>
		{% endfor %}
		</ul>
		{% endif %}
	</div>

</body>
</html>