<!DOCTYPE html>
<html>
<head>
	<title>update</title>
</head>
<body>

<form action="{% url 'my_admin_updatep' update.id %}" method= 'POST'>
	{% csrf_token %}
		<p> Title: <input type='text' name='location'></p>
		<p> Region: </p>
		<select name = 'region'>
			<option value ='1'>Washington</option>
			<option value='2'>Oregon</option>
			<option value='3'>British Columbia</option>
		</select>
		<p> Season: </p>
		<select name = 'season'>
			<option value ='fall'>Fall</option>
			<option value='winter'>Winter</option>
			<option value='spring'>Spring</option>
			<option value='summer'>Summer</option>
			<option value='any'>Any</option>
		</select>

		<p> Activites: </p>
		<input type="checkbox" name='activity' value="hiking">Hiking
		<input type="checkbox" name='activity' value="swimming">swimming
		<input type="checkbox" name='activity' value="skiing">skiing
		<input type="checkbox" name='activity' value="museums">museums
		<input type="checkbox" name='activity' value="eating">eating
		<input type="checkbox" name='activity' value="beach">Beach
		<input type="checkbox" name='activity' value="family">family
		<input type="checkbox" name='activity' value="shopping">shopping
		<input type="checkbox" name='activity' value="shows">shows
		<input type="checkbox" name='activity' value="park">park
		<input type="checkbox" name='activity' value="sight-seeing">sight-seeing
		<input type="checkbox" name='activity' value="any">any
		<p> Upload Picture:  

		<input type="file" name="img" ></p>


		<p> <input type='submit' value='update'></p>
	</form>


</form>

</body>
</html>