<!DOCTYPE html>
<html>
<head>
	<title>Tripster Profile</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'travelAppCSS/bootstrap.css' %}" media="screen" title="no title"  charset="utf-8">
	<link rel="stylesheet" href="{% static 'travelAppCSS/materialize.css' %}" media="screen" title="no title"  charset="utf-8">
	<link rel="stylesheet" href="{% static 'travelAppCSS/profile.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div id='container'>
		<div id = 'content'>
		</div>
			<nav>
			    <div class="nav-wrapper">
			      <a class = 'logo' href = "{% url 'my_travel_home' %}"> Tripster</a>
			      <ul id="nav" class="right">
					<li class = 'username'> Welcome,{{ request.session.first_name }}! </li>
					<li><a href="{% url 'my_travel_home' %}">Home</a></li>
			        <li><a href = "{% url 'my_travel_logout' %}"> Logout</a></li>
			      </ul>
			    </div>
			    <div class = "profiledash col s12 m7">
			    	<h2 class = 'header'>Your Trips</h2>
		    		<div class='card-image hoverable'>
		    			<a href="#"><img class = 'img-thumbnail' width="200" height="180" src="{% static 'travelAppIMG/canoe.jpg' %}"></a>
		    			<p>***Location***</p>
		    		</div>
		    		<div class='card-image hoverable'>
		    			<a href="#"><img class = 'img-thumbnail' width="200" height="180" src="{% static 'travelAppIMG/canoe.jpg' %}"></a>
		    			<p>***Location***</p>
		    		</div>
		    		<div class='card-image hoverable'>
		    			<a href="#"><img class = 'img-thumbnail' width="200" height="180" src="{% static 'travelAppIMG/canoe.jpg' %}"></a>
		    			<p>***Location***</p>
		    		</div>
		    		<div class='card-image hoverable'>
		    			<a href="#"><img class = 'img-thumbnail' width="200" height="180" src="{% static 'travelAppIMG/canoe.jpg' %}"></a>
		    			<p>***Location***</p>
		    		</div>
		    		<div class='card-image hoverable'>
		    			<a href="#"><img class = 'img-thumbnail' width="200" height="180" src="{% static 'travelAppIMG/canoe.jpg' %}"></a>
		    			<p>***Location***</p>
		    		</div>
			    </div>
		  	</nav>
			</div>
		</div>
	</div>

</body>
</html>